/* define primary colors */
$bgcolor: white;
$textcolor: black;
$navbgcolor: black;
$navtextcolor: white;
$hoverbgcolor:  rgba(0, 0, 0, 0.5);
/* define font */
$font: 'segoe ui', Helvetica, sans-serif;
$fontsize: 18px;